*.out
* 
!/**/ 
!*.* 
*/listy
*.synctex.gz
*.log
*.fls
*.aux
*.fdb_latexmk
*/.svn
*.zip
*.bin
*.out
flex/
!Makefile
ch9-1.1/
/home/kuba/Projects/Sem-5/Algorytmy Dyskretne/L3/wyniki
*.res
*.ss
*.p2p
*.gr